.thirdSection {
    display: flex;
    flex-direction: column;
    height: 800px;
}

.thirdSectionMenu {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 20px;
}

.thirdSectionTitle {
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
}

.viewAll {
    color: #FB8F1D;
    font-family: Inter;
    font-size: 17px;
    font-weight: 600;
    line-height: 60px;
}

.trendFeed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.thirdSectionBlock {
    display: flex;
    flex-direction: column;
}

.blockImage {
    width: 250px;
    height: 280px;
    object-fit: fill;
}

.blockTitle {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.blockDescription {
    width: 266px;
    color: #7D7987;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

.readMore {
    color: #FB8F1D;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    padding-top: 15px;
}