.third_section {
  display: flex;
  flex-direction: column;
  height: 800px;
}

.third_section_menu {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 20px;
}

.view_all {
  color: #fb8f1d;
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 60px;
}

.articles {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article {
  display: flex;
  flex-direction: column;
}

.article_img {
  width: 250px;
  height: 280px;
  object-fit: fill;
  border-radius: 10px 10px 0 0;
}

.article_title {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.article_description {
  width: 266px;
  color: #7d7987;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}

.read_more {
  color: #fb8f1d;
  font-family: Inter;
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  padding-top: 15px;
}

@media screen and (max-width: 1240px) {
  .third_section {
    height: auto;
  }

  .third_section_menu {
    padding-top: 30px;
    padding-bottom: 10px;
    flex-direction: column;

  }

  .view_all {
    display: none;
  }

  .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .article1 {
    margin-bottom: 20px;
    margin-right: 15px;
  }

  .article2 {
    margin-bottom: 20px;
    margin-right: 15px;
  }

  @media screen and (max-width: 600px) {
    .article2 {
      display: none;
    }
  }
}